<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127809341504-a56tmh9oa147o403rttk2v5makkgkh8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127809341504-a56tmh9oa147o403rttk2v5makkgkh8b</string>
	<key>API_KEY</key>
	<string>AIzaSyAqrLb7At0mcVJUg96_CEMLNX4zFVuPETc</string>
	<key>GCM_SENDER_ID</key>
	<string>127809341504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dkebruiser.SnappaAppa</string>
	<key>PROJECT_ID</key>
	<string>snappaappa-dke</string>
	<key>STORAGE_BUCKET</key>
	<string>snappaappa-dke.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127809341504:ios:ade8d47ed9acf89e</string>
	<key>DATABASE_URL</key>
	<string>https://snappaappa-dke.firebaseio.com</string>
</dict>
</plist>